
@font-face {
  font-family: "BCSans";
  font-style: normal;
  src: url("./fonts/BCSans/BCSans-Regular.woff");
}
@font-face {
  font-family: "BCSans";
  font-style: italic;
  src: url("./fonts/BCSans/BCSans-Italic.woff");
}
@font-face {
  font-family: "BCSans";
  font-weight: bold;
  src: url("./fonts/BCSans/BCSans-Bold.woff");
}
@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/BCSans/BCSans-BoldItalic.woff");
}

body {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif !important; 
}

.navbar-dark.bg-primary {
  background: #036 !important;
}

.btn-secondary {
  background: #fcba19 !important;
  border: #fcba19 !important;
  color: black;
}

.btn-secondary:hover {
  background: #efaa00 !important;
  border: #fcba19 !important;
}
.leftMapPopUpCol {
  width: 10%;
}

.mineMapPopUpButton {
  display: flex;
  justify-content: flex-end;
}

div[id="base-container"] {
  clear: both;
}

#leaflet-map {
  height: 600px;
  width: 1200px;
}

.leaflet-wms-popup {
  width: 400px;
}

.leaflet-control-mouseCoordinate {
  width: 300px;
  min-height: 30px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: none repeat scroll 0 0 #fff;
  color: #333;
  padding: 6px 10px 6px 10px;
}

.leaflet-control-mouseCoordinate table {
  width: 100%;
}

.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-left: 10px;
  padding-left: 5px;
}

.leaflet-control-layers-group {
  margin-bottom: 0.5em;
  padding-left: 2px;
}

.leaflet-control-layers-selector {
  margin-left: 4px;
}

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  padding-right: 10px;
}

.home {
  margin: 40px;
}
h1 {
  font-weight: bold;
}

.home-content {
  margin: 20px;
}

.button-group-center {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
}
.spinner-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  top: 50%;
  position: absolute;
  color: white;
  z-index: 100000 !important;
  vertical-align: -.125em;
  border: .5em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}



/* header banner */
header {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  padding: 0 65px 0 65px;
  color: #fff;
  display: flex;
  height: 65px;
  top: 0px;
  position: fixed;
  width: 100%;
}

header h1 {
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-weight: normal;  /* 400 */
  margin: 5px 5px 0 18px;
  visibility: hidden;
}

header .banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 0 0;
  /* border-style: dotted;
  border-width: 1px;
  border-color: lightgrey; */
}

header .other {
  display: flex;
  flex-grow: 1;
  /* border-style: dotted;
  border-width: 1px;
  border-color: lightgrey; */
}

.Beta-PhaseBanner {
  color: #fcba19;
  margin-top: -1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

:focus {
    outline: 4px solid #3B99FC;
    outline-offset: 1px;
  }

/*
  These are sample media queries only. Media queries are quite subjective
  but, in general, should be made for the three different classes of screen
  size: phone, tablet, full. 
*/

@media screen and (min-width: 600px) and (max-width: 899px) {
  header h1 {
    font-size: calc(7px + 2.2vw);
    visibility: visible;
  }
}

@media screen and (min-width: 900px) {
  header h1 {
    font-size: 2.0em;
    visibility: visible;
  }
}

.navbar-nav {
  float: right;
  display: contents;
}

.navbar-nav .nav-link {
  padding-right: 10px;
  margin-top: 10px;
  color: white;
}

.inline-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.between {
  justify-content: space-between;
}